
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_detailspage.cshtml";
}

<h2>Login</h2>

<form name="myForm" action="/Home/LoginResult/" enctype="multipart/form-data" method="post">
    Email: <br />
    <input type="text" id="Email" name="Email" />
    <br /><br />
    Password:<br />
    <input type="password" id="Password" name="Password" />
    <br />
    <br />
    <input type="submit" value="Log-in" class="button" />
    @ViewBag.MSG
</form>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="~/Content/js/bootstrap.js"></script>
<script src="~/Content/js/bootstrap.min.js"></script>